<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
- %>
<%= paginator.render do %>
  <nav class="join" role="navigation" aria-label="pager">
    <%= prev_page_tag unless current_page.first? %>
    <% current_page_num = current_page.number.to_i %>
    <% total_pages_num = total_pages.to_i %>
    <% paginator.each_page do |page| %>
      <% page_num = page.number.to_i %>
      <% proximity = (page_num - current_page_num).abs %>
      <% if proximity <= 2 || page_num == 1 || page_num == total_pages_num %>
        <%= page_tag page %>
      <% elsif proximity == 3 %>
        <%= gap_tag %>
      <% end %>
    <% end %>
    <% unless current_page.out_of_range? %>
      <%= next_page_tag unless current_page.last? %>
    <% end %>
  </nav>
<% end %>
